@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer:<a href="https://github.com/ribeiro-dev"> @ViewData["Developer"]</a> </p>
<p>Professor:<a href="https://www.udemy.com/user/nelio-alves"> @ViewData["Professor"]</a> </p>
